/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/home2.jpg);
    background-position: center;
    background-size: cover;

} */
.testing {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
    margin-top: -140px;
    /* background: linear-gradient(45deg, #a889f7, #322d24); */
    /* background: linear-gradient(45deg, #d5cbed, #efece7); */
    background: linear-gradient(45deg, #a889f7, #696866);
}


.job-details-container {
    background-color: #fff;
    /* background: linear-gradient(45deg, #a889f7, #322d24); */
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding-top: 100px;
    /* border-radius: 90px; */
    /* padding-top: 100px; */
}

h1 {
    color: #333;
}

.job-description {
    margin-top: 20px;
}

h2 {
    color: #333;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.apply-button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 40px;
    margin-top: 15px;
}

.apply-button:hover {
    background-color: #45a049;
}