body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/form.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    padding-top: 1000px;
    padding-left: 150px;
    /* background: linear-gradient(45deg, #a889f7, #696866); */
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea,
select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}