/*---------------------------------JOB SEEKER PROFILE-------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* background: #999; */
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/form.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

h1 {
    text-align: center;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    /* background: linear-gradient(45deg, #a889f7, #696866); */
    padding: 20px;
    border-radius: 100px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    align-items: center;
}

.profile-container h1 {
    color: white;
}

/* .formHeader h2 {
    color: white;
} */

button {
    padding: 10px;
    width: 50px;
}

.test {
    margin-right: 150px;
}


/* .profile-info {
    display: flex;
    align-items: center;
} */

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-pic {
    margin-left: 250px;

    margin-top: 50px;
}

.user-details {
    flex: 1;
}


.resume-section {
    margin-top: 20px;
}

.input-container {
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .job-history-section {
    padding-left: 310px;
} */

.form_label label {
    color: white;
}

#profile_label label {
    color: white;
}

#profile_label fieldset {
    margin-right: 500px;
}

@media only screen and (max-width: 768px) {
    #smaller-screen {
        margin-right: 200px;
    }
}