createfile
*.swp
__pycache__/*
models/__pycache__/*
models/engine/__pycache__/*
test_base_model_dict.py
test_base_model.py*
test_user.py*
tests/__pycache__/*
tests/test_models/__pycache__/*
tests/test_models/test_engine/__pycache__/*
api/__pycache__/*
api/v1/__pycache__/*
api/views/__pycache__/*
web_static/__pycache__/*
alembic/__pycache__/*
alembic/versions/__pycache__/*
