/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}

.container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: #fff;
    border-radius: 8px;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

.swiper-pagination-bullet {
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}